
<div class="main__new_note_form-container">

  <%= form_for(@note, :url => @note.persisted? ? note_path(account_id: @params_account.hash_id, id: @note) : notes_path(account_id: @params_account.hash_id, id: @note), remote: true) do |form| %>
    <div id="note_form_errors">
      <%= render 'notes/form_errors' %>
    </div>

    <%= form.hidden_field :folder_id, value: @params_folder.id if @params_folder %>

    <div class="field">
      <%= form.label :title %>
      <%= form.text_field :title %>
    </div>

    <div class="field">
      <%= form.label :body %>
      <%= form.hidden_field :body, id: :note_body %>
      <trix-editor input="note_body"></trix-editor>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>

</div>