<h1>Editing Note</h1>

<%= render 'form', note: @note %>

<%= link_to 'Show', note_path(@params_account.hash_id, @note) %> |
<%= link_to 'Back', redirect_to_notes_folder_if_present_else_note_index %>
