
<%= render 'shared/breadcrumbs' %>

<%= render 'shared/subfolders_listing' %>

<hr>

<%= render 'notes/form', note: @note %>


<%= render 'shared/notes_listing' %>


<%#= link_to 'New Note', new_note_path(account_id: @params_account.hash_id) %>
