
<p>
  <strong>Title:</strong>
  <%= @note.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= sanitize @note.body %>
</p>

<%= link_to 'Edit', edit_note_path(@params_account.hash_id, @note) %> |
<%= link_to 'Back', redirect_to_notes_folder_if_present_else_note_index %> |
<%= link_to 'Destroy', note_path(@params_account.hash_id, @note), method: :delete, data: { confirm: 'Are you sure?' } %>
