<% if @folder.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@folder.errors.count, "error") %> prohibited this folder from being saved:</h2>

    <ul>
    <% @folder.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>