<%= form_for(@folder, url: @folder.persisted? ? folder_path(account_id: @params_account.hash_id, id: @folder) : folders_path(account_id: @params_account.hash_id, id: @folder), remote: true) do |form| %>
  <div id="folder_form_errors">
    <%= render 'folders/form_errors' %>
  </div>

  <% unless @folder.persisted? %>

    <%= form.hidden_field :parent_id, value: @params_folder.id if @params_folder %>

  <% end %>

  <%= form.text_field :name, placeholder: "New Subfolder Name", data: { target: "visibility.focus"} %> <%= form.submit %>

  <button type="button" class="close" data-dismiss="alert" aria-label="Close"  data-action="visibility#hide">
    <span aria-hidden="true">&times;</span>
  </button>
  
<% end %>