<h1>Editing Folder</h1>

<%= render 'form', folder: @params_folder %>

<%= link_to 'Show', folder_path(@params_account.hash_id, @params_folder) %> |
<%= link_to 'Back', folder_path(@params_account.hash_id) %>
