
<div class="main__notes_listing__list-container">

  <% if @notes.empty? %>

    <div class="empty_list">

      No notes here yet.

    </div>

  <% else %>

    <% @notes.each do |note| %>

      <div class="main__notes_listing__list__note-entry-container">
        <header>
          <h3 class="main__notes_listing__list__note-entry-header header__bgline"><a name="<%= note.id %>"><span><%= link_to(note.title? ? note.title : "(untitled)", note_path(@params_account.hash_id, note), class: "note-entry-header") %></span></h3>
          <aside class="main__notes_listing__list__header__toolbar">
            <button class="main__notes_listing__list__header__toolbar__options-horizontal-button btn btn--icon btn--options-horizontal-icon dropdown-toggle" data-toggle="dropdown"></button>

            <div class="dropdown-menu dropdown-menu-right">
              <%= link_to "Show", note_path(@params_account.hash_id, note), class: "dropdown-item" %>
              <div class="dropdown-divider"></div>
              <%= link_to "Edit", edit_note_path(@params_account.hash_id, note), class: "dropdown-item" %>
              <div class="dropdown-divider"></div>
              <%= link_to "Delete", note_path(@params_account.hash_id, note), method: :delete, data: { confirm: 'Are you sure?' }, class: "dropdown-item" %>
            </div>
          </aside>
        </header>

        <div class="main__notes_listing__list__note_body-container">

          <%= sanitize note.body %>

        </div>

      </div>

    <% end %>

  <% end %>

</div>

