
<div class="main__notes_listing__titles_list-container">

  <% @notes.each do |note| %>

    <% unless note.title.blank? %>

    <a href="#<%= note.id %>" rel=”no-refresh”><%= note.title %><br>

    <%#= link_to note.title, anchor: note.id %>

    <% end %>

  <% end %>

</div>
