
<%= render 'users/home/search' %>

<%= render 'users/home/breadcrumb' %>

<%= render 'users/home/folders' %>

<%= render 'users/home/note_form' %>

<%= render 'users/home/note_headings' %>

<%= render 'users/home/notes_listing' %>