<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
  </head>
  <body>
    <%= render 'layouts/shared/ie_shim' %>

    <%= render 'layouts/static/static_header' %>

    <%= render 'layouts/flash_messages' %>

    <div class="container">

      <div class="row main__wrap">

        <div class="no-gutters centered">

          <%= yield %>

        </div>

      </div>

    </div>

    <%= render 'layouts/footer' %>
    
    <%= render 'layouts/shared/analytics_snip' %>

  </body>
</html>