<div class="main__breadcrumb-container">
  <% if @params_folder %>

    <%= link_to "", notes_path(@params_account.hash_id), class: "main__breadcrumb__home-button btn btn--icon btn--home-icon" %>

  <% else %>

    <div class="main__breadcrumb__home-button btn--icon btn--home-dark-icon"></div>

  <% end %>

  <% if @params_folder %>

    <% @params_folder.ancestors.each do |a| %>

      <%= image_tag image_path "icons/breadcrumb-arrow-right.svg" %> <%= link_to a.name, folder_path(a.account.hash_id, a.slug) %>

    <% end %>

    <%= image_tag image_path("icons/breadcrumb-arrow-right.svg"), class: "main__breadcrumb__arrow" %> <span class="present-folder"><%= @params_folder.name %></span>

  <% end %>

</div>

<%= render 'shared/current_folder_action_bar' %>