
<% if @notes %>

  <section class="main__notes_listing-container">
    <header>
      <h3 class="main__notes_listing__header header__bgline"><span>Notes</span></h3>
      <aside class="main__notes_listing__header__toolbar">
        <button class="main__notes_listing__header__toolbar__folder-add-button btn btn--icon btn--folder-add-icon" data-controller="subfolder-add"></button>
      </aside>
    </header>

    <%= render 'shared/notes_listing/titles_list' %>

    <%= render 'shared/notes_listing/notes_list' %>



  </section>

<% else %>
  No notes in this folder.
<% end %>












<%# reference code (notes action links/paths) %>

<% if false %>

  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Body</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>    
        <% @notes.each do |note| %>
          <tr>
            <td><%= note.title %></td>
            <td><%= sanitize note.body %></td>
            <td><%= link_to 'Show', note_path(@params_account.hash_id, note) %></td>
            <td><%= link_to 'Edit', edit_note_path(@params_account.hash_id, note) %></td>
            <td><%= link_to 'Destroy', note_path(@params_account.hash_id, note), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
    </tbody>
  </table>

<% end %>

