<section class="main__subfolders-container" data-controller="visibility">
  <header>
    <h3 class="main__subfolders__header header__bgline"><span>Subfolders</span></h3>
    <aside class="main__subfolders__header__toolbar">
      <button class="main__subfolder__header__toolbar__folder-add-button btn btn--icon btn--folder-add-icon" data-action="visibility#show"></button>
    </aside>
  </header>

  <div class="main__subfolder__link-box new-folder-form hidden" data-target="visibility.element">
    
    <%= render "folders/form" %>

  </div>

  <% if @params_folder %>

    <% @subfolder_list = @params_folder.children.arrange(order: :name) %>

  <% elsif @folders %>

    <% @subfolder_list = @folders.arrange(order: :name) %>

  <% end %>

  <% unless @subfolder_list.empty? %>

    <% @subfolder_list.each do |a| %>

      <%= link_to a.first.name, folder_path(a.first.account.hash_id, a.first.slug), class: "main__subfolder__link-box" %>

    <% end %>

  <% else %>

    <div class="empty_list">

      No subfolders here yet.

    </div>

  <% end %>

</section>