<%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "form-signin") do |f| %>

  <h1 class="h3 mb-3 font-weight-normal">Please log in</h1>

  <%= f.label :email, class: "sr-only" %>
  <%= f.email_field :email, autofocus: true, autocomplete: "email", id: "inputEmail", class: "form-control", placeholder: "Email address", required: true %>
  <%= f.label :password, class: "sr-only" %>
  <%= f.password_field :password, autocomplete: "off", id: "inputPassword", class: "form-control", placeholder: "Password", required: true %>
  <% if devise_mapping.rememberable? -%>
      <%= f.hidden_field :remember_me, value: true %>
  <% end -%>

  <%= f.submit "Log in", class: "btn btn-lg btn-primary btn-block" %>   

<% end %>

<div class="text-centered">

  <%= render "devise/shared/links" %>

</div>