<div class="new-note__wrap">

  <div class="container">

    <div class="row">

      <div class="col col-no-padding">

        <%= form_for(@note) do |form| %>
          <% if @note.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@note.errors.count, "error") %> prohibited this note from being saved:</h2>

              <ul>
              <% @note.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

          <div class="field">
            <%= form.label :title %>
            <%= form.text_field :title %>
          </div>

          <div class="field">
            <%= form.label :body %>
            <%= form.hidden_field :body, id: :note_body %>
            <trix-editor input="note_body"></trix-editor>
          </div>

          <div class="actions">
            <%= form.submit %>
          </div>
        <% end %>

      </div>

    </div>

  </div>

</div>