<div class="notes__wrap">

  <div class="container">

    <div class="row" style="height: 50px; padding-top: 15px;">

      _notes_listing.html.erb

    </div>

    <div class="row">

      <div class="col">

        <table>
          <thead>
            <tr>
              <th>Title</th>
              <th>Body</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @notes.each do |note| %>
              <tr>
                <td><%= note.title %></td>
                <td><%= sanitize note.body %></td>
                <td><%= link_to 'Show', note_path(@params_account.hash_id, note) %></td>
                <td><%= link_to 'Edit', edit_note_path(@params_account.hash_id, note) %></td>
                <td><%= link_to 'Destroy', note_path(@params_account.hash_id, note), method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

      </div>

    </div>

  </div>

</div>