<div class="container">

  <div class="row header_search__wrap">

      <form>
        <div class="form-group">
          <input class="form-control form-control-lg" type="text" placeholder="Search...">
        </div>
      </form>

    </div>

</div>