
.btn {
  display: inline-block;
  padding: 0.5em 1em;
  border-radius: 1.5em;
  vertical-align: middle;
  text-decoration: none;
  text-align: center;
  white-space: normal;
  cursor: pointer;
}

.btn--icon {
  // width: 2.45em;
  // height: 2.45em;
  padding: 0 !important;
  background-position: center center !important;
  background-repeat: no-repeat;
  text-indent: -999em;
}

.btn--home-icon {
  background-image: url(<%= image_path 'icons/home.svg' %>);
  position: relative;
  top: -1px;
}

.btn--home-dark-icon {
  background-image: url(<%= image_path 'icons/home-dark.svg' %>);
  position: relative;
  top: -1px;
}

.btn--folder-add-icon {
  background-image: url(<%= image_path 'icons/folder-add.svg' %>);
  position: relative;
  top: -1px;
}

.btn--options-horizontal-icon {
  background-image: url(<%= image_path 'icons/options-horizontal.svg' %>);
  position: relative;
  top: -1px;
}