
// Log in form

  form.new_user {
    width: 330px;
    max-width: 330px;
    padding: 15px;
    margin: 20px auto ;
  }
  form.new_user .checkbox {
    font-weight: 400;
  }
  form.new_user .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  form.new_user .form-control:focus {
    z-index: 2;
  }
  form.new_user input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  form.new_user input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }