@import "bootstrap_variable_overrides";


// variables used in global.scss
$sticky-footer-height: 50px;



* {
  -webkit-tap-highlight-color:  transparent;
  -webkit-touch-callout: none;
}

html {
  // * Sticky footer styles */
  position: relative;
  min-height: 100%;
  // * -------------- */
}


body {
  // * Sticky footer styles */
  // * Margin bottom by footer height */
  // margin-bottom: $sticky-footer-height;
  padding-bottom: $sticky-footer-height;
  // * -------------- */
  line-height: 1.15;
}


// global

a { 
  text-decoration:none;
}

.centered {
  margin-left: auto;
  margin-right: auto;
}

.text-centered {
  text-align: center;
}

.empty_list {
  text-align: center;
  color: #CACACA;
  font-style: italic;
  font-size: 12px;
}


// header

.header__wrap {
  height: 50px;
  background-color: $header-bg;
  // background-color: #5A505E; // sketch
  // background-color: #373d41;
  // padding: 0 6px 0 16px;
  // min-height: 50px;
  // border-top: 3px solid #535a60;
  // // border-bottom: 1px solid #e5e5e5;
  // box-shadow: 0 1px 0 rgba(12,13,14,0.15), 0 0 0 transparent, 0 0 0 transparent, 0 0 0 transparent;
  box-shadow: 0 1px 0 rgba(12,13,14,0.15), 0 0 0 transparent, 0 0 0 transparent, 0 0 0 transparent;
  border-top: 3px $footer-bg solid;
}


.header__content-left-wrap {
  padding: 0 !important;
  // display: flex;
  // justify-content: space-between;
  // position: relative;
  // min-height: 50px;
  // padding-left: 30px;
}


.header__content-left__logo-wrap {
  // display: inline-block;
  // // padding-top: 13px;
  // // padding-bottom: 13px;
  // color: #fff;
  height: 50px;

  a {
    // color: rgba(0,0,0,0.85);

    &:hover {
      // text-decoration: none;
    }
    
  }
}


.header__content-left__logo {
  position: relative;
  top: 11px;
  display: block;
  width: 108px;
  height: 25px;
  background: image-url("logo.svg") center center no-repeat;

  @media (max-width: 575.98px) {
    left: 4px;
    // margin-left: 4px;
    // width: 32px;
    // height: 40px;
    // background: image-url("logo-symbol.svg") center center no-repeat;
  }
}

.header__content-center-wrap {
  padding: 0 !important;
  text-align: center;
  // // padding: 2px 0;
}


.header__content-right-wrap {
  padding: 0 !important;
  text-align: right;
  // // padding: 2px 0;
}


.header__content-right__account-dropdown-wrap {
  // display: inline-block;
  // top: 1px;
}


.header__content-right__account-dropdown-button {
  // margin: 6px 0;
  // font-size: 18px;
  // padding: 6px 10px;
  // border: none;
  // background-color: #fafafa;
  // color: #535a60;
  // transition: background-color 100ms linear, border-color 100ms linear, color 100ms linear, box-shadow 100ms linear;

  &:hover {
    // background-color: #f0f0f0;
  }

  &:focus{
    // outline: none;
    // background-color: #f0f0f0;
  }

}


// header_search 

.header_search__wrap {
  height: 50px;
  margin-top: 12px;

  form {
    width: 100%;

    @media (max-width: 575.98px) {
      margin: 0 4px;
    }
  }


}




// "main" content area

.main__wrap {
  margin-top: 1px;
  // text-align: center;
}




// footer 

.footer__wrap {
  // * Sticky footer styles */
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: $sticky-footer-height;
  // * -------------- */
  line-height: $sticky-footer-height; // Vertically center the text there
  // background-color: #fafafa;
  // border-top: 1px solid #e5e5e5;
  // border-bottom: 3px solid #535a60;
  background-color: $footer-bg;
  color: #fff
}


