
// overrides.less

// alert boxes

.alert {
    border-radius: 0 !important;
    padding: 0.75rem 0.25rem !important;
    margin-top: 12px;
    margin-bottom: inherit !important;
}

.alert-danger {
    background-color: #d25858;
    border-color: #d25858;
    color: #fff;
}

.navbar {
    padding: initial;
}

// margins & padding

.col-no-padding {
    padding: 0 !important;
}

.alert-dismissible .close {
    top: -14px !important;
    padding: 0.75rem !important;
}



// visibility

.hidden {
  display: none !important
}
