// Place all the styles related to the Folders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap/_functions.scss";
@import "bootstrap/_variables.scss";
@import "bootstrap/mixins/breakpoints.scss";

.nested_folders {
  margin-left: 10px;
}

.main__breadcrumb-container {
  // margin-top: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 3px;
  // background-color: red;
  color: #555555;
  border-bottom: 1px solid #EFEBEB;

  .present-folder {
    font-weight: 600;
    font-size: 0.95rem;

    @include media-breakpoint-up(sm) {
      position: relative;
      top: 1px;
    }
    
  }

  // @include media-breakpoint-up(sm) {
  //   padding-left: 3px;
  // }
}

.main__breadcrumb__home-button {
  // max-width: 100%;
  width: 28px;
  height: 28px;
  background-color: #fff;
  background-size: 23px auto;
}

.main__subfolders-container {
  position: relative;
  margin: 18px 3px 0 3px;

  @include media-breakpoint-up(sm) {
    margin: 18px 0 0 0;
  }
}

.main__breadcrumb__arrow {
  margin-right: 2px;
}

.main__subfolders-container {
  margin-bottom: 20px;
}

.main__subfolders__header {
  color: #C8C8C8;
  line-height: 1.2;
  position: relative;
  z-index: 0;
  font-weight: normal;
  font-size: 1.17em;
  margin: 0 0 12px 0;

  >span {
    display: inline-block;
    padding: 0 0.5em 0 0;
    background: #fff;
  }
}

.header__bgline {

  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    z-index: -1;
  }
}

.main__subfolders__header__toolbar {
    position: absolute;
    top: 0;
    left: auto;
    right: 0;
    z-index: 4;
    margin: -0.5rem 0 0 0;
    color: #000;
}

.main__subfolder__header__toolbar__folder-add-button {
  // position: relative;
  // top: 2px;
  // max-width: 100%;
  width: 34px;
  height: 34px;
  background-color: #FAFAFB;
  background-size: 18px auto;
  border: 1px solid #E4E4E4 !important;

  &:focus {
    border-color: none !important;
    box-shadow: none !important;
  }
}

.main__subfolder__link-box {
  $main_subfolder__link-box--background-color: #F7F7FA;
  $main_subfolder__link-box--background-color: #f0f0f7;
  // $main_subfolder__link-box--background-color: #FAFAFB;
  // $main_subfolder__link-box--background-color: #F5F5F5;
  display: block;
  // margin: 2px 40px 2px 20px;
  margin: 3px 3px;
  padding: 10px 14px;
  background-color: $main_subfolder__link-box--background-color;
  font-size: 15px;
  font-weight: 500;
  color: #3a74b3;

  &:visited {
    color: #3a74b3;
  }

  &:hover {
    background-color: darken($main_subfolder__link-box--background-color, 2);
    text-decoration: none;
  }

  &.new-folder-form
  {
    padding: 7px 11px;

    form>.close {
      position: relative;
      top: 2px;

      @media (max-width: 575.98px) {
        top: 4px;
      }
    }
  }

  // @include media-breakpoint-up(sm) {
  //   font-size: 15px;
  // }
}

.main__new_note_form-container {
  margin-top: 40px;
  margin-bottom: 60px;
}

.main__notes_listing-container {
  position: relative;
  margin: 18px 3px 0 3px;
}

.main__notes_listing__header {
  color: #C8C8C8;
  line-height: 1.2;
  position: relative;
  z-index: 0;
  font-weight: normal;
  font-size: 1.17em;
  margin: 0 0 12px 0;

  >span {
    display: inline-block;
    padding: 0 0.5em 0 0;
    background: #fff;
  }
}

.main__notes_listing__header__toolbar {
    position: absolute;
    top: 0;
    left: auto;
    right: 0;
    z-index: 4;
    margin: -0.5rem 0 0 0;
    color: #000;
}

.main__notes_listing__header__toolbar__folder-add-button {
  // position: relative;
  // top: 2px;
  // max-width: 100%;
  width: 34px;
  height: 34px;
  background-color: #FAFAFB;
  background-size: 18px auto;
  border: 1px solid #E4E4E4 !important;

  &:focus {
    border-color: none !important;
    box-shadow: none !important;
  }
}

.main__notes_listing__titles_list-container {
  margin-bottom: 30px;
  padding-left: 12px;
  font-size: 16px;
  font-weight: 500;

  a {
    color: #5656AB;
  }
}

.main__notes_listing__list-container {

}

.main__notes_listing__list__note-entry-container {
  position: relative;
  margin-bottom: 70px;
}

.main__notes_listing__list__note-entry-header {
  line-height: 1.2;
  position: relative;
  z-index: 0;
  font-weight: 500;
  font-size: 16px;
  margin: 0 33px 12px 0;

  >a.note-entry-header {
    position: relative;
    top: -2px;
    color: #666666;
    display: inline-block;
    padding: 0 0.5em 0 0;
    background-color: #fff !important;
  }
}

.main__notes_listing__list__header__toolbar {
    position: absolute;
    top: 0;
    left: auto;
    right: 0;
    // z-index: 4;
    margin: -0.5rem 0 0 0;
    color: #000;
}

.main__notes_listing__list__header__toolbar__options-horizontal-button {
  // position: relative;
  // top: 2px;
  // max-width: 100%;
  width: 34px;
  height: 34px;
  background-color: #FAFAFB;
  background-size: 18px auto;
  border: 1px solid #E4E4E4 !important;

  &:focus {
    border-color: none !important;
    box-shadow: none !important;
  }
}

.main__notes_listing__list__note_body-container {
  padding-left: 10px;
}