<% flash.each do |message_type, message| %>
  <% type_class = bootstrap_class_for(message_type) %>
  <%= content_tag(:div, class: ["alert", "#{type_class}", "alert-dismissible", "fade", "show"]) do %>
    <%= content_tag(:div, class: ["container"]) do %>
      <%= content_tag(:div, class: ["row"]) do %>
        <%= content_tag(:div, class: ["col-11", "col-no-padding"]) do %>
          <%= message %>
        <% end %>
        <%= content_tag(:div, class: ["col-1", "col-no-padding"]) do %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>