<div class="header__wrap">

  <div class="container">

    <div class="row">

      <div class="col header__content-left-wrap">

        <div class="header__content-left__logo-wrap">

          <%= link_to "", account_home_path(current_user.account.hash_id), class: "header__content-left__logo" %>

        </div>

      </div>

      <div class="col header__content-center-wrap">

        <% if user_signed_in? %>   

          <%= link_to "Folders", folders_path(current_user.account.hash_id) %> |

          <%= link_to "Notes", notes_path(current_user.account.hash_id) %>

        <% else %>

          center area

        <% end %>

      </div>

      <div class="col header__content-right-wrap">

          <% if user_signed_in? %>          

            <div class="header__content-right__account-dropdown-wrap dropdown">

              <button class="header__content-right__account-dropdown-button dropdown-toggle" type="button" data-toggle="dropdown"  aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Account</span>
                <%# <i class="fa fa-user-circle-o" aria-hidden="true"></i> %>
                <%= current_user.email %>
              </button>

              <div class="dropdown-menu dropdown-menu-right">
                <%= link_to "Profile", users_profile_path(current_user.account.hash_id), class: "dropdown-item" %>
                <div class="dropdown-divider"></div>
                <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
              </div>

            </div>

          <% else %>

            <%= link_to "Sign Up", new_user_registration_path %> &nbsp;|&nbsp; <%= link_to "Log in", new_user_session_path %>

          <% end %>

      </div>

    </div>

  </div>

</div>